nav a {
    color: rgb(80, 212, 19);
}

header h1 {
    margin: 0;
    font-size: 3em;
    top: 0;
    padding: 20px;
    color: rgb(99, 221, 17);
    font-family: 'Georgia', sans-serif;
}

nav h2 {
    color: rgb(64, 223, 16);

}

nav {
    padding: 20px;
    
}



img {
    width: 400px;
    height: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #73FCC6;
    color: #022D55;

}

section {
    background-color: #818080;
    color: #00103E
    ;
}

footer {
    background-color: #818080;
    color: #00103E;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px;
    border-radius: 4px;
    background-color: rgb(141, 141, 196);
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3 ease;
    cursor: pointer;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
    
}


article {
    padding:  20px;
    border: 1px;
    transition: width 2s, height 2s, transform 2s;
}

section {
    padding: 20px;
    border: 1px;
}



figure {
    float: right;
}