html {background-color: #92A8D1;}
#Standard-osa {font-family: Arial, Helvetica, sans-serif;}
.fancy-teksti {background-color: aliceblue;}
h1 {text-align: center;}
p {color: green;}
h2 {color: darkblue;}