body {
    background-color: #a2d2ff
}

main {
    background-color: #ffd7b1
}
header {
    background-color: #feb0ff
}
h1 {
    color: #032D54
        
}
section {
    background-color: #b1ffaf
